Rid-Temp Test Machine(Gateway).json
[{"id":"98b46c39.253f2","type":"tab","label":"Rid","disabled":false,"info":""},{"id":"5fbe1b0f.ef3594","type":"mqtt out","z":"98b46c39.253f2","name":"","topic":"RED TL TEMP. MACHINE","qos":"","retain":"","broker":"9312359e.7db928","x":350,"y":180,"wires":[]},{"id":"224173bf.16be1c","type":"mqtt out","z":"98b46c39.253f2","name":"","topic":"YELLOW TL TEMP. MACHINE","qos":"","retain":"","broker":"9312359e.7db928","x":370,"y":300,"wires":[]},{"id":"85224ed3.5d376","type":"mqtt out","z":"98b46c39.253f2","name":"","topic":"GREEN TL TEMP. MACHINE","qos":"","retain":"","broker":"9312359e.7db928","x":360,"y":420,"wires":[]},{"id":"839603f2.e3e2a","type":"mraa-gpio-din","z":"98b46c39.253f2","name":"","pin":"11","interrupt":"b","initial":false,"interval":"10","x":110,"y":300,"wires":[["224173bf.16be1c","509602db.c5984c"]]},{"id":"d6eaa6.764fb558","type":"mraa-gpio-din","z":"98b46c39.253f2","name":"","pin":"12","interrupt":"b","initial":false,"interval":"10","x":110,"y":420,"wires":[["85224ed3.5d376","20f113bf.9eca3c"]]},{"id":"85f7ed5c.a393","type":"mraa-gpio-din","z":"98b46c39.253f2","name":"","pin":"10","interrupt":"b","initial":false,"interval":"10","x":110,"y":180,"wires":[["5fbe1b0f.ef3594","49cbdb2e.12e204"]]},{"id":"49cbdb2e.12e204","type":"debug","z":"98b46c39.253f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":310,"y":240,"wires":[]},{"id":"20f113bf.9eca3c","type":"debug","z":"98b46c39.253f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":310,"y":480,"wires":[]},{"id":"509602db.c5984c","type":"debug","z":"98b46c39.253f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":310,"y":360,"wires":[]},{"id":"9312359e.7db928","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]